input.form-control {
    width: auto;
  }

  .product-input{
    min-width: 100px;
  }

  .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  padding: 1px;
  }
  .box-header {
  padding-left: 5px;
  }
  table{
    margin-left: 5px;
    margin-right: 5px;
  }
  .form-control{

    padding-left: 0px;
    padding-right: 0px;
    /*width: 100% */
  }
  input.form-control[_ngcontent-c6] {
    /*height: 25px;8*/
    width: 100%;

  }