<div class="wrapper">
      <!-- default from angular cli -->
      <!--The content below is only a placeholder and can be replaced.-->
      <!-- main header component --> 
      <app-header></app-header>
      <!-- Left side column. contains the logo and sidebar -->
      <app-sidebar></app-sidebar>
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
          <div>
              <router-outlet></router-outlet>
          </div>
      </div>
      <!-- footer. Contains footer content -->
      <app-footer></app-footer>
      <!-- settings. settings menu, appears from right -->
      <app-settings></app-settings>  
 </div>



